src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4941749a-e10f-4b9b-b925-76d28a332b18" basePath="/tickets/{PNR}" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="check-in-by-pnr-papi" doc:id="07c9367c-eea5-4ae6-8885-a3b350bce4b3" >
		<http:listener doc:name="PUT /checkin" doc:id="19ca8237-8912-44c4-920d-40a3d86f8095" config-ref="HTTP_Listener_config" path="/checkin" allowedMethods="PUT">
			<http:response >
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:response>
		</http:listener>
		<set-variable value="#[message.attributes.uriParams.'PNR']" doc:name="PNR" doc:id="868d9d6c-52cd-4719-ba38-13ab2cd1937d" variableName="PNR"/>
		<logger level="INFO" doc:name="Logger" doc:id="c3e7cd59-d2c2-45ec-873d-e5e862bb8a06" message="#[output aplication/json ---
{
	greeting: 'Hello Mr. ' ++ message.payload.'lastName' as String 
				++ '; Your Record Locator is: ' ++ vars.PNR as String
}]"/>
		<flow-ref doc:name="flights-management-sapi" doc:id="0c09b4e6-3b65-4bc7-a13f-3196ed0ac0a8" name="flights-management-sapi"/>
		<flow-ref doc:name="register-passenger-data-sapi" doc:id="2f06c352-2e75-44d3-87e0-b65185a12a32" name="register-passenger-data-sapi"/>
		<flow-ref doc:name="create-payment-for-bags-sapi" doc:id="8567f476-8e00-4778-a6cb-a8fdcecad925" name="create-payment-for-bags-sapi"/>
		<ee:transform doc:name="Transform Message" doc:id="ce107f99-a081-44f4-8363-01308239efb5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"paymentID": "PAY-1AKD7482FAB9STATKO"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="flights-management-sapi" doc:id="0a35580d-78f1-49d5-a4ef-35a3ebc82540" >
		<logger level="INFO" doc:name="Logger" doc:id="a2395d29-7fb6-4016-a26a-eb6d0636e4bb" />
	</flow>
	<flow name="register-passenger-data-sapi" doc:id="dd6e87aa-8c4c-44ef-b3f8-a6fb8ee7c958" >
		<logger level="INFO" doc:name="Logger" doc:id="5434ec19-c730-4341-a45a-6de06ad8f4b1" />
	</flow>
	<flow name="create-payment-for-bags-sapi" doc:id="ca1b896e-1c82-4ba0-9a1a-ee2a44bd1634" >
		<logger level="INFO" doc:name="Logger" doc:id="d66ad8ba-cbaf-4ae3-82d5-48b06b98b9ef" />
		<http:request method="GET" doc:name="FakeRequest" doc:id="3da93233-29b8-4b21-8828-3a002b215a4c" url="http://www.mulesoft.com"/>
		<logger level="INFO" doc:name="Logger" doc:id="3412d5e8-8016-4b44-8abf-9c52ab386eda" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="41b04444-1c5e-488b-831f-1ec49097af8f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	status: 'PAID'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
